pkgbase = koala
    pkgdesc = Set-and-forget terminal-based backup app with scheduler, TUI, and sound notifications
    pkgver = 1.0.0
    pkgrel = 1
    url = https://github.com/yourusername/koala
    install = koala.install
    arch = any
    license = MIT
    depends = bash
    depends = dialog
    depends = tar
    depends = xdg-utils
    depends = systemd
    source = system-backup.sh
    source = koala-ui.sh
    source = koala-init.sh
    source = config.conf
    source = koala-package.sh
    source = verify-koala-package.sh
    source = system-backup.service
    source = system-backup.timer
    source = koala_icon.png
    source = koala.desktop
    source = error.ogg
    source = interuption.ogg
    source = notif.ogg
    source = success.ogg
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP
    md5sums = SKIP

pkgname = koala
